<mat-toolbar color="primary">
    <mat-toolbar-row class="toolbar">
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
            <mat-icon>character</mat-icon>
        </button>
        <mat-menu #appMenu="matMenu">
            <ng-container *ngFor="let character of characters">
                <button mat-menu-item (click)="onSelect(character)">
                    {{character.name}}
                </button>
            </ng-container>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>